.advantages {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__wrapper {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__list {
  .list-reset();
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__item {
  &--active{
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding-top: 35px;
    padding-bottom: 35px;
    @media (max-width: @tablet-width) {}
    @media (max-width: @desktop-width) {}
  }
  &--grey {
    background-color: var(--basic-extralight-grey);
    border-bottom: 1px solid var(--basic-light-grey);
    padding-top: 25px;
    padding-bottom: 25px;
    @media (max-width: @tablet-width) {}
    @media (max-width: @desktop-width) {}
    &:last-child {
      border: none;
      @media (max-width: @tablet-width) {}
      @media (max-width: @desktop-width) {}
    }
  }
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__number {
  order: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
