.advantages {}

.advantages__wrapper {}

.advantages__list {
  .list-reset();
}

.advantages__item {
  &--grey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: @basic-extralight-grey;
  }
}

.advantages__point {
  padding-top: 55px;
  padding-bottom: 38px;
  &--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: @basic-white;
    background-color: @basic-blue;
  }
  &--grey {
    padding-top: 26px;
    padding-bottom: 0px;
  }
}

.advantages__item--row {}

.advantages__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item--grey p {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  border-bottom: 1px solid @basic-light-grey;
}

.advantages__item--grey:last-child p {
  border: none;
}

.advantages__sublist {}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    &--grey {
      width: 33.33%;
      height: 256px
    }
  }

  .advantages__item--grey p {
    border: none;
    width: auto;
  }

  .advantages__item--row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__point--active {
    width: 33.33%;
    height: 256px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .advantages__title {
    font-size: 21px;
    padding-right: 53px;
    padding-left: 53px;
  }

  .advantages__description {
    padding-right: 45px;
    padding-left: 45px;
  }

  .advantages__sublist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {}
