.devil-bridge__item {
  padding-top: 39px;
  padding-bottom: 35px;
}

.devil-bridge__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .devil-bridge {
    width: 100%;
  }

  .devil-bridge__item {
    order: 2;
  }

  .devil-bridge__picture {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .devil-bridge__item {
    padding-top: 32px;
  }

  .devil-bridge__description {
    padding-left: 92px;
    padding-right: 92px;
  }
}
