.devil-bridge {}

.devil-bridge__row {}

.devil-bridge__item {}

.devil-bridge__picture {}

@media (min-width: @tablet-width) {
  .devil-bridge {
    width: 100%;
  }

  .devil-bridge__item {
    order: 2;
  }

  .devil-bridge__picture {
    order: 1;
    width: 66.66%;
  }
}

@media (min-width: @desktop-width) {}
