.filter-form {
  margin-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__item {
  padding-top: 20px;
  border: none;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 20px;
  border-top: 1px solid var(--basic-grey);
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 20px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__label {
  align-self: center;
  margin-right: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__input {
  flex-grow: 1;
  padding-top: 18px;
  padding-bottom: 14px;
  background-color: var(--special-extra-grey);
  border: none;
  &::placeholder {
    padding-left: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: var(--basic-black);
  }
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.filter-form__button {
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 19px;
  padding-bottom: 14px;
  span{
    margin-right: 30px;
    margin-left: 30px;
  }
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
