.form-name {
  order: 1;
  width: 100%;
}

.form-name__label {}

.form-name__item {}

.form-name__input {}

@media (min-width: @tablet-width) {
  .form-name {
    order: 2;
    width: 50%;
  }

  .form-name__legend {
    text-align: left;
    padding-left: 58px;
  }

  .form-name__item {
    padding-left: 58px;
  }
}

@media (min-width: @desktop-width) {}
