.form-impression {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-impression__list {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-impression__item {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-impression__input {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-impression__label {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
