.form-contacts {
  order: 2;
  width: 100%;
}

.form-contacts__item {}

.form-contacts__label {}

.form-contacts__input {}

@media (min-width: @tablet-width) {
  .form-contacts__item {
    flex-direction: column;
  }

  .form-contacts__label {
    align-self: left;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts {
    order: 3;
  }
}
