.form-impression {
  order: 3;
  width: 100%;
}

.form-impression__list {}

.form-impression__item {}

.form-impression__input {}

.form-impression__label {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .form-impression {
    order: 1;
    width: 45%;
    border-right: 1px solid @special-light-grey;
  }
}

@media (min-width: @desktop-width) {}
