.form-emotions {
  order: 5;
  width: 100%;
}

.form-emotions__input {
  padding-left: 21px;
  min-height: 160px;
  margin-bottom: 51px;
  resize: none;

  &::placeholder {
    padding-left: 0px;
  }
}
