.form-name {
  order: 1;
  width: 100%;
}

.form-name__item {}

.form-name__input {}

@media (min-width: @tablet-width) {
  .form-name {
    order: 2;
    width: 45%;
  }
}

@media (min-width: @desktop-width) {}
