.form-attractions {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-attractions__list {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-attractions__item {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-attractions__input {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.form-attractions__label {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
