.gallery-video {
  padding-top: 32px;
  margin-bottom: 49px;
}

.gallery-video__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-left: 28px;
  margin-right: 28px;
}

.gallery-video__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 28px;
  margin-right: 28px;
}

.gallery-video__videopannel {}

.gallery-video__player {}

.gallery-video__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @special-extra-grey;
}

.gallery-video__item {}

.gallery-video__button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .gallery-video__player {
    position: relative;
  }

  .gallery-video__list {
    position: absolute;
    bottom: 0;
    left: 270px;
  }
}

@media (min-width: @desktop-width) {
  .gallery-video__list {
    left: 350px;
  }
}
