.gallery {
  text-align: left;
}

.gallery__wrapper {}

.gallery__list {
  .list-reset();
}

.gallery__first-photo {}

.gallery__other-photos {}

.gallery__item {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 15px;
  border-top: 1px solid @basic-grey;
}

.gallery__text {}

.gallery__info {}

.gallery__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.gallery__description {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.gallery__rating {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 85px;
}

.gallery__likes {
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  &::before {
    position: absolute;
    content: url("../../img/icon-like.svg");
    left: 0px;
    top: -10px;
  }
}

.gallery__rating-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .gallery {
    margin-left: 60px;
    margin-right: 60px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    border: none;
    padding: 0px;
    width: 50%;
    &--active {
      width: 100%;
    }
  }

  .gallery__item--active img{
    width: 100%;
  }

  .gallery__text {
    display: flex;
    flex-wrap: wrap;
    background-color: @special-extra-grey;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    &--grey {
      background-color: @special-dark-grey;
    }
  }

  .gallery__info {
    margin-left: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .gallery__rating {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    margin-left: 0px;
    margin-right: 0px;
  }

  .gallery__item {
    position: relative;
    width: 33.33%;
    &--active {
      width: 100%;
    }
  }

  .gallery__text {
    color: @basic-white;
    background-color: fade(@basic-black, 60%);
    position: absolute;
    width: 100%;
    bottom: 8px;
    &--grey {
      background-color: fade(@basic-black, 60%);
    }
  }

  .gallery-video {
    margin-left: 200px;
    margin-right: 200px;
  }
}
