.interesed {
  margin-top: 33px;
  margin-bottom: 50px;
}

.interesed__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.interesed__description {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 27px;
}

.interesed__button {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .interesed__button {
    width: 458px;
  }
}
