.interesed {
  margin-top: 33px;
  margin-bottom: 49px;
}

.interesed__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.interesed__description {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 21px;
  margin-bottom: 28px;
}

.interesed__text--tablet {
  display: none;
}

.interesed__button {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .interesed {
    margin-top: 55px;
    margin-bottom: 58px;
  }

  .interesed__title {
    font-size: 30px;
  }

  .interesed__description {
    margin-top: 33px;
    margin-bottom: 39px;
  }

  .interesed__text {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .interesed__button {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .interesed {
    margin-bottom: 66px;
  }

  .interesed__description {
    margin-bottom: 44px;
  }
}
