.interesed {
  margin-top: 33px;
  margin-bottom: 50px;
}

.interesed__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.interesed__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 27px;
}

.interesed__button {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .interesed__button {
    margin-left: 155px;
    margin-right: 155px;
  }
}

@media (min-width: @desktop-width) {
  .interesed__button {
    margin-left: 371px;
    margin-right: 371px;
  }
}
