.main-nav {
  position: relative;
}

.main-nav__button {
  position: absolute;
  right: 15px;
  top: 18px;
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__icon-menu {
  color: @basic-blue;
}

.main-nav__icon-cross {
  color: @basic-white;
}

.main-nav__icon-menu,
.main-nav__icon-cross {
  display: none;

  &--active {
    display: block;
  }
}

.main-nav__wrapper {
  display: none;

  &--active {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.main-nav__list {
  .list-reset();
}

.main-nav__item {
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: @basic-blue;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  transition: all 0.3s;

  &:hover {
    background-color: @basic-dark-blue;
  }

  &:active {
    background-color: @special-dark-blue;
  }
}

.main-nav__link {
  text-decoration: none;
  color: @basic-white;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  transition: all 0.3s;

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    background-color: @basic-white;
    box-shadow: none;
    width: 153px;
    padding-top: 16px;
    padding-bottom: 14px;

    &:nth-child(2) {
      margin-right: 156px;
    }

    &:hover {
      background-color: @basic-white;
    }

    &:active {
      background-color: @basic-white;
    }
  }

  .main-nav__link {
    color: @basic-black;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: @basic-blue;
    }

    &:active {
      color: @basic-black;
    }
  }

  .main-nav__link--active {
    color: @basic-brown;

    &:hover {
      color: @basic-dark-brown;
    }

    &:active {
      color: @basic-brown;
    }
  }

  .main-nav__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item {
    width: 239px;

    &:nth-child(2) {
      margin-right: 244px;
    }
  }
}
