.main-intro {
  padding-left: 18px;
  padding-right: 18px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.main-intro__image {
  background-image: url(/source/img/bg-back-mobile@1x.jpg);
  @media (max-width: @tablet-width) {
    background-image: url(/source/img/bg-back-tablet@1x.jpg);
  }
  @media (max-width: @desktop-width) {
    background-image: url(/source/img/bg-back-desktop@1x.jpg);
  }
}

.main-intro__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.main-intro__description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
