.page {
  height: 100%;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__body {
  min-height: 100%;
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media (max-width: @tablet-width) {
    width: 768px;
  }
  @media (max-width: @desktop-width) {
    width: 1200px;
  }
}

.page__header {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__main {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__intro {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__advantages {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__interesed {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__map {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__gallery {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__video {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__form {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.page__footer {
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
