.real-town {
  background-color: @basic-white;
}

.real-town__list {
  .list-reset();
  text-align: left;
  padding-top: 18px;
  padding-bottom: 18px;
}

.real-town__item {
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 8px;
  &--house {
    background-image: url("../../img/icon-house.svg");
    background-size: 39px 37px;
  }

  &--gift {
    background-image: url("../../img/icon-gift.svg");
    background-size: 32px 38px;
  }

  &--burger {
    background-image: url("../../img/icon-burger.svg");
    background-size: 40px 35px;
  }
}

.real-town__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.real-town__description {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  padding-right: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .real-town__picture {
    width: 66.66%;
  }

  .real-town__list {
    margin-top: 60px;
  }

  .real-town__item {
    padding-left: 0;
    text-align: center;
    padding-top: 90px;
    background-position-x: center;
    background-position-y: top;
    &--house {
      order: 1;
      padding-left: 35px;
      padding-right: 35px;
      background-image: url("../../img/icon-house.svg");
      background-size: 75px 72px;
    }

    &--gift {
      order: 3;
      padding-left: 30px;
      padding-right: 30px;
      background-image: url("../../img/icon-gift.svg");
      background-size: 76px 68px;
    }

    &--burger {
      order: 2;
      padding-left: 50px;
      padding-right: 50px;
      background-image: url("../../img/icon-burger.svg");
      background-size: 64px 75px;
    }
  }

  .real-town__title {
    font-size: 21px;
  }

  .real-town__description {
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .real-town__item {
    &--house {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--gift {
      padding-left: 100px;
      padding-right: 100px;
    }

    &--burger {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
