.real-town {
  background-color: var(--basic-white);
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.real-town__list {
  .list-reset();
  text-align: left;
  margin-left: 70px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.real-town__item {
  margin-bottom: 26px;
  &:last-child {
    margin-bottom: 35px;
  }
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.real-town__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}

.real-town__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  @media (max-width: @tablet-width) {}
  @media (max-width: @desktop-width) {}
}
