.social {
  margin-top: 33px;
}

.social__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background-color: @basic-blue;
  transition: all 0.3s;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: @basic-dark-blue;
  }

  &:active {
    background-color: @special-dark-blue;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:active .social__link {
  opacity: 0.3;
}

.social__icon {
  color: @basic-white;
}

@media (min-width: @tablet-width) {
  .social {
    margin-top: 0;
  }
}
