.social {
  margin-top: 33px;
}

.social__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background-color: @basic-blue;
  margin-right: 6px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  /*
  &--twitter {}
  &--facebook {}
  &--youtube {}
  */
}

@media (min-width: @tablet-width) {
  .social {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {}
